<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-T">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Crochet Project</title>
    </head>
<body>
    <div>
        <h1>Create a New Crochet Project</h1>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="projectImage" required>
            <br>
            <button type="submit">Upload Image</button>
        </form>
    </div>
</body>
</html>